<div class="container">
  <div class="title">Site Config:</div>
  <div class="property-container site-config-container">
    <ng-container *ngFor="let siteConfigKey of siteConfigPropertyList">
      <div class="property-item">
        <span class="property-title">{{ siteConfigKey | titlecase }}: </span>
        {{ siteConfig[siteConfigKey] }}
      </div>
    </ng-container>
  </div>

  <div class="title">Floorplans</div>
  <div
    *ngFor="let floorplan of siteConfig.floorplans"
    class="property-container floorplan-config-container"
  >
    <ng-container *ngFor="let floorplanKey of floorplanPropertyList">
      <div class="property-item">
        <span class="property-title">{{ floorplanKey | titlecase }}: </span>
        {{ floorplan[floorplanKey] }}
      </div>
    </ng-container>
  </div>
</div>

**Create UI to allow users to create new flooorplans here**